
    <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/list">Greeted Names</a></li>
            </ul>
        </nav>
        
    <h1>Amount of times names were greeted</h1>
        
      
    <h2 style="color: black;">  <p style="text-align:center" c>{{output}}</p> </h2>
   